@model IEnumerable<DSHomework.Models.Route>

@{
    ViewData["Title"] = "Index";
}

<h2>Routes</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartAt.SightName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndAt.SightName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartAt.SightName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndAt.SightName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RouteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RouteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RouteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
